@charset "ISO-8859-1";
body {
	padding-top: 15px;
	color: black;
}

.form-group {
	color: white;
}


#LoginButton {
	background-color: #ADF0D1;
}

#SubmitButton {
	background-color: #ADF0D1;
	color: black;
}

#container {
	align: middle;
	width: 130px;
	height: 60px;
	display: table;
	background-color: #ffffff;
}

.container {
	text-align: center;
}

#LoginButton {
	font-size: 16px;
}

.table {
	font-size: 18 px;
	text-align: center;
}